
{:paths ["source-code/cljc"]
 :deps  {mt-app-kit/cljc-common-state {:git/url "https://github.com/mt-app-kit/cljc-common-state"
                                       :sha     "73c1d92ee628a63b93c78324a6762453ec699b16"}
         bithandshake/cljc-fruits     {:git/url "https://github.com/bithandshake/cljc-fruits"
                                       :sha     "6b5c9c060bdff84d0cd0bce908b64b268e5e6f0e"}
         org.clojure/clojurescript    {:mvn/version "1.10.891"}}}
